@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(32, 10, 82);
}
.navigation-bar{
    color: cornsilk;
    margin: 0px;
    padding: 30px;
    padding-bottom: 5px;
    background-color: rgb(32, 10, 82);
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.left-menu,.right-menu{
    display:flex;
    padding-left: 30px;
}
.left-menu > li,.right-menu > li{
    margin: 20px;
    list-style: none; 
    font-size: 17px;
}
.logo{
    height:50px;
    width:60px;
    position: relative;
    top: -15px;
}
.left-menu-item,.right-menu-item{
    color: cornsilk;
    text-decoration: none;
}

.show-case{
    color: rgb(223, 223, 223);
    width:40%;
    margin-left: 70px;
    margin-top: 30px;
}
.big-notice{
    font-size: 80px;
    letter-spacing: 10px;
}
.notice-info{
    display:block;
    margin-top: 40px;
    font-size: 17px;
    width: 80%;
    letter-spacing: 1.5px;
    line-height: 28px;
}
.btn-ov{
    cursor: pointer;
    color: rgb(219, 212, 204);
    background-color: rgb(185, 19, 69);
    border: 2px rgb(185, 19, 69) dotted;
    font-size: 14px;
    margin: 35px;
    margin-left: 10px;
    border-radius: 20px;
    height: 45px;
    width: 130px;
}
.main-body{
    display: flex;
}

.counter{
    line-height: 33px;
    letter-spacing: 1.5px;
    border: 2px rgb(238, 238, 238) solid;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
    color: rgb(141, 140, 139);
    width: 50%;
}
.table{
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}